*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}



img{
  max-width: 100%;
}

.fmcontainer{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}