@use './vars' as *;

a{
  text-decoration: none;
}

li{
  list-style: none;
}

h1, h2, h3, h4{
  text-transform: capitalize;
}

section{
  text-align: center;
}

// stile bottoni
// Generico
.fm-btn{
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: .7rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-orange{
  background-color: $bg-orange;
  color: white;
}

.btn-cyan{
  background-color: $bg-cyan;
  color: white;
}

.btn-card{
  border: 2px solid $gray;
  background-color: transparent;
  color: $gray;
}

