a{
  text-decoration: none;
}

li{
  list-style: none;
}

// stile bottoni
// Generico
.fm-btn{
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: yellow;
  border-radius: 50px;
  font-size: .7rem;
  font-weight: 700;
}

